@import "../../_shared.scss";

.evt-named-entities-list {
  &__listLetters {
    position: relative;
    margin: 0 auto auto auto;
    text-align: center;

    background: #FFF;
    padding: 10px;
    height: $inner-header-height;
    max-height: $inner-header-height;

    &__letter {
      margin-right: 9px;
      color: #999;
      font-size: 90%;
      cursor: pointer;
      text-transform: uppercase;

      &.active {
        color: #000;
        font-weight: bold;
        cursor: default;
      }
    }
  }

  &__content {
    @include calc(height, 100% - #{$inner-header-height});

    width: 100%;
    overflow: auto;
    position: absolute;

    > div  {
      width: 100%;
      padding-left: 10px;
    }

    > div > *:nth-child(odd) {
      background: rgba($base-color-middle, .1);
    }

    > div > *:nth-child(even) {
      background: #fff;
    }

    > div > *:hover {
      background: rgba($base-color-middle, .2);
    }
  }

}
