<div class="evt-named-entities-list" [ngClass]="getListTypeClass()">
  <div *ngIf="allElements.length > 0">
    <div class="evt-named-entities-list__listLetters">
                <span class="evt-named-entities-list__listLetters__letter"
                      *ngFor="let letter of listKeys" (click)="selectLetter(letter)"
                      [class.active]="letter === selectedLetter">
                    {{ letter }}
                </span>
    </div>
    <div class="evt-named-entities-list__content">
      <div>
        <!--infinite-scroll="vm.loadMoreElements()" infinite-scroll-distance="2" infinite-scroll-parent="true"-->
      <evt-named-entity *ngFor="let element of visibleElements"  [entityId]="element"></evt-named-entity>
      </div>
    </div>
  </div>
  <div *ngIf="allElements.length <= 0">
    {{ 'LISTS.NO_ELEMENTS' | translate }}
  </div>
</div>
