<div *ngIf="entity">
	<span
		class="namedEntity namedEntity-{{ entity.entityType }} location-{{location}}"
		[class.opened]="location === 'mainText' || opened"> 
		<span class="namedEntity__header"> <!-- HEADER -->
			<div class="namedEntity_tools" *ngIf="isPinAvailable()">
				<!-- TODO: Add buttons (PIN REMOVE and PIN TOGGLE)-->
			</div>
			<div (click)="toggle()">
				<i class="fa opener" *ngIf="location !== 'mainText'"></i>
				<i class="fa namedEntity__icon {{entityTypeIcon}}" *ngIf="location === 'mainText'"></i>

				<span [innerHTML]="entity.label"></span>
			</div>
		</span> 
		<span class="namedEntity__details" *ngIf="opened">
			<div class="namedEntity__details-headers">
				<span *ngFor="let tab of moreInfoTabs.indexes"
					[class.active]="tab === subContentOpened"
					(click)="toggleSubContent(tab)" class="namedEntity__details-header">
					{{ this.moreInfoTabs.tabs[tab].label | translate:lang }} </span>
			</div>
			<div class="namedEntity__details-panels">
				<div class="namedEntity__details-panel"
					[ngSwitch]="subContentOpened">
					<ng-template ngSwitchCase="moreInfo">
						<span *ngFor="let property of entity.content.indexes"> 
							<span class="namedEntity__detail"
								*ngIf="entity.content.properties[property].length > 0">
								<span [ngSwitch]="property"> 
									<ng-template ngSwitchCase="idno"><i class="fa fa-barcode namedEntity__detail-icon"></i></ng-template>
									<ng-template ngSwitchCase="note"><i class="fa fa-sticky-note namedEntity__detail-icon"></i></ng-template>
									<ng-template ngSwitchCase="occupation"><i class="fa fa-briefcase namedEntity__detail-icon"></i></ng-template>
									<ng-template ngSwitchCase="persName"><i class="fa fa-user namedEntity__detail-icon"></i></ng-template>
									<ng-template ngSwitchCase="sex"><i class="fa fa-venus-mars namedEntity__detail-icon"></i></ng-template>
									<ng-template ngSwitchCase="birth"><i class="fa fa-birthday-cake namedEntity__detail-icon"></i></ng-template>
									<ng-template ngSwitchCase="death"><i class="fa fa-times fa-rotate-45 namedEntity__detail-icon"></i></ng-template>
									<ng-template ngSwitchCase="residence"><i class="fa fa-home namedEntity__detail-icon"></i></ng-template>
									<ng-template ngSwitchCase="orgName"><i class="fa fa-users namedEntity__detail-icon"></i></ng-template>
									<ng-template ngSwitchCase="geoName"><i class="fa fa-map-marker namedEntity__detail-icon"></i></ng-template>
									<ng-template ngSwitchCase="geogFeat"><i class="fa fa-map-marker namedEntity__detail-icon"></i></ng-template>
									<ng-template ngSwitchCase="district"><i class="fa fa-map-marker namedEntity__detail-icon"></i></ng-template>
									<ng-template ngSwitchCase="settlement"><i class="fa fa-location-arrow namedEntity__detail-icon"></i></ng-template>
									<ng-template ngSwitchCase="region"><i class="fa fa-map-marker namedEntity__detail-icon"></i></ng-template>
									<ng-template ngSwitchCase="country"><i class="fa fa-map-marker namedEntity__detail-icon"></i></ng-template>
									<ng-template ngSwitchCase="bloc"><i class="fa fa-map-marker namedEntity__detail-icon"></i></ng-template>
									<ng-template ngSwitchCase="relations"><i class="fa fa-share-alt namedEntity__detail-icon"></i></ng-template>
									<ng-template ngSwitchCase="actors"><i class="fa fa-users namedEntity__detail-icon"></i></ng-template>
									<ng-template ngSwitchDefault><i class="fa fa-info-circle namedEntity__detail-icon"></i></ng-template>
								</span> 
								<span class="namedEntity__detail-text" 
									*ngFor="let value of JsUtils.keys(entity.content.properties[property])">
									<span class="namedEntity__detail-text-attributes"> 
										<span class="namedEntity__detail-text-attribute"
											*ngFor="let attribute of entity.content.properties[property][value].attributes.indexes"
										>{{ entity.content.properties[property][value].attributes[attribute] | translate:lang }}</span> 
										<!-- | translate | camelToSpaces | underscoresToSpaces  -->
									</span> 
									<span class="namedEntity__detail-text-content"
										>{{ entity.content.properties[property][value].text }}</span>
								</span>
							</span>
						</span> 
						<span *ngIf="entity.content.indexes.length <= 0"> 
							No More Info available </span>
					</ng-template>
					<ng-template ngSwitchCase="occurrences">
						<span *ngIf="entity.occurrences">
							<span class="namedEntity__occurrences-occurrence"
								[class.active]="isCurrentPageDoc(occurrence)"
								*ngFor="let occurrence of entity.occurrences"
								(click)="goToOccurrence(occurrence)"> {{
								occurrence.docLabel }} - {{ occurrence.pageLabel }} 
							</span> 
							<span class="italic"
								*ngIf="entity.occurrences.length <= 0">
								No results found 
							</span> 
						</span>
						<span class="italic" *ngIf="!entity.occurrences">
							Loading occurrences... </span>
					</ng-template>
					<ng-template ngSwitchCase="xmlSource">
						<pre *ngIf="entity.xmlSource">{{ entity.xmlSource }}</pre>
						<span *ngIf="!entity.xmlSource">No XML available</span>
					</ng-template>
					<ng-template ngSwitchDefault></ng-template>
				</div>
			</div>
		</span>
	</span>
</div>
<!-- <h2>
	[{{entity.indexingLetter}}] <span innerHTML="{{entity.label}}"></span>
</h2>

<button (click)="onMoreInfo()">More info</button>

<div *ngIf="moreInfoVisible">
	<h3>More info</h3>
	<ul>
		<li *ngFor="let property of entity.content.indexes">{{property}}
			<ul>
				<li
					*ngFor="let value of JsUtils.keys(entity.content.properties[property])">
					{{ entity.content.properties[property][value].text }}</li>
			</ul>
		</li>
	</ul>
</div>
</div> -->