@import "../../../_shared.scss";

$evt-dialog-header-height: $inner-header-height;
$evt-dialog-content-padding: 20px;

.evt-dialog {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  &-shadow{
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
  }
  &-container {
    border-radius: 2px;
    font-size: 60%;
    background: #fff;
    min-width: 80%;
    height: 2000px;
    max-height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    @include set(box-shadow, 0px 0px 8px #000);

    &-top {
      height: $evt-dialog-header-height;
      background: $base-color-dark;
      color: $base-color-light;
      padding: 10px;
      text-align: center;
      font-size: 1.2em;

      evt-button {
        font-size: 90%;
        right: 0;
        float: right;
        top: -4px;
        position: relative;
      }
    }

    &-content {
      overflow-y: auto;
      @include calc(height, 100% - #{$mainContainer-menu-height} - #{$evt-dialog-content-padding}*2);
      padding: $evt-dialog-content-padding;
    }
  }
  &-no-scroll {
    .evt-dialog-container-content {
      overflow: hidden;
      @include calc(height, 100% - #{$mainContainer-menu-height});
      padding: 0;
    }
  }
}

.evt-dialog.evt-dialog-error,
.evt-dialog.evt-dialog-small{
  .evt-dialog-container {
    min-width: 10%;
    max-width: 60%;
    height: auto;
    &-content {
      padding:20px;
    }
  }
}

.evt-dialog.evt-dialog-error .evt-dialog-container-top {
  background: #990000;
}