<div class="evt-dialog"
     [class.evt-dialog-error]="type === 'error'"
     [class.evt-dialog-small]="type === 'bookmark'"
     [class.evt-dialog-no-scroll]="noScroll">

    <div class="evt-dialog-shadow" (click)="emitClose()"></div>


    <div class="evt-dialog-container">
        <div class="evt-dialog-container-top">
            <span class="evt-dialog-container-top-title">{{ title | translate:lang }}</span>
            <evt-button class="noPadding" [title]="'DIALOG.CLOSE'" [icon]="'remove'"
                        [noBackground]="true" [invertedColor]="true"
                        [type]="'closeDialog'" [callback]="emitClose.bind(this)"></evt-button>
        </div>
        <div [ngSwitch]="type" class="evt-dialog-container-content">
            <ng-template ngSwitchCase="error">
                <div innerHTML="content"></div> <!-- TODO: Compile... ? -->
            </ng-template>
            <ng-template ngSwitchDefault>
                <ng-content></ng-content>
            </ng-template>
        </div>
    </div>
</div>