<div class="mainMenu">
    <ul>
        <li>
	  		<span (click)="openGlobalDialogInfo()">
				<i class="icon icon-evt_info-alt"></i>
				{{'MAIN_MENU.PROJECT_INFO' | translate:lang}}
			</span>
        </li>
        <li *ngIf="namedEntitiesListsAvailable">
            <span (click)="openGlobalDialogLists()">
				<i class="icon icon-evt_list"></i>
					{{'MAIN_MENU.OPEN_LISTS' | translate:lang}}
			</span>
        </li>
        <li>
			<span (click)="generateBookmark()">
		  		<i class="icon icon-evt_bookmark"></i>
		  		{{'MAIN_MENU.GENERATE_BOOKMARK' | translate:lang}}
			</span>
        </li>
        <li *ngIf="XMLDownloadEnabled">
            <span (click)="downloadXML()">
				<i class="icon fa fa-download"></i>
				{{'MAIN_MENU.DOWNLOAD_XML' | translate:lang}}
			</span>
        </li>
    </ul>
    <hr/>
    <ul>
        <li>
			<span>
				<i class="icon fa fa-language"></i>
				{{'MAIN_MENU.LANGUAGES' | translate:lang}}
				<img *ngFor="let langKey of getAvailableLanguages()"
                     [src]="'assets/images/'+langKey+'.png'"
                     [class.active]="langKey === getCurrentLanguage()"
                     class="flag"
                     (click)="setLanguage(langKey)"
                     [title]="'LANGUAGES.'+langKey | translate:lang"
                     [alt]="langKey"/>
			</span>
        </li>
        <li class="inactive">
			<span>
			<i class="icon fa fa-keyboard-o"></i>
			{{ 'MAIN_MENU.KEYBOARD_SHORT_CUTS' | translate:lang }}</span></li>
    </ul>
</div>
