@import "shared.scss";

header,
footer,
section {
    width: susy-repeat(12);
}

header,
footer {
    padding: 10px;

    @include colors($base-color-light, $base-color-dark);
}

header .logo {
    height: 34px;
    float: left;
    margin-right: 1rem;
}

footer {
    display: setVisibility($base-footer);
}

#global-container-ext {
    height: 100%;
}

#global-container {
    @include calc(height, unquote("#{setGlobalFrameHeight()} + 1px"));

    padding: 1px 0 0;
    overflow: hidden;
    width: 100%;
}
.loading {
    background: rgba(0, 0, 0, 0.1);
	font-size: 1rem;
	
    .loader {
        font-size: 2.5em;
        color: $base-color-dark;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.globalMenu {
    width: auto;
    display: inline-block;
    position: absolute;
    right: 8px;
    top: 0px;
    height: 54px;
    padding: 10px;
    font-size: 100%;

    .viewModeMenu {
        display: inline;
    }
}