<header>
    EVT Viewer
    <div class="globalMenu">
        <evt-button
                [callback]="toggleMainMenu.bind(this)"
                [icon]="'menu'" [invertedColor]="true" [noBackground]="true"></evt-button>
        <evt-main-menu *ngIf="isMainMenuOpened" (close)="toggleMainMenu(false)"
                       (itemPressed)="openSecondaryContent($event)"></evt-main-menu>
    </div>
</header>
<section id="global-container" *ngIf="!isLoading">
    <div [style.width]="'42%'" [style.display]="'inline-block'" [style.padding]="'0 4%'" [style.float]="'left'">
        <div *ngFor="let documentId of getDocumentsCollection()">
            <h2>{{getDocument(documentId).label}}</h2>
            <div *ngFor="let pageId of getDocument(documentId).pages"
                 (click)="showPageText(pageId, documentId)">
                {{getPage(pageId).label}}
            </div>
        </div>
    </div>
    <div [style.width]="'42%'" [style.display]="'inline-block'" [style.padding]="'4'"
      [style.height]="'100%'" [style.overflow]="'scroll'">
        <content-viewer [content]="selectedPageText" ></content-viewer>
    </div>
</section>
<section class="global-loading-container" *ngIf="isLoading">
    <!-- LOADING... -->
    <div class="loading"><i class="fa fa-spinner fa-pulse loader"></i></div>
</section>

<section class="secondary-container" *ngIf="secondaryContentOpened">
    <div [ngSwitch]="secondaryContentOpened">
        <ng-template ngSwitchCase="entitiesList">
            <evt-dialog [type]="'entitiesList'" [noScroll]="true" [title]="'DIALOGS.NAMED_ENTITIES'"
                        (close)="closeSecondaryContent()">
                <evt-named-entities-list [listId]="'FromCP'"></evt-named-entities-list>
                <!--<evt-tabs-container [tabs]="getNamedEntitiesTabs()"></evt-tabs-container>-->
            </evt-dialog> <!-- TODO: Add Tabs and list-->
        </ng-template>
        <ng-template ngSwitchCase="globalInfo">
            <evt-dialog [type]="'globalInfo'" [title]="'DIALOGS.PROJECT_INFO'" [noScroll]="true"
                        (close)="closeSecondaryContent()">
                <evt-tabs-container [tabs]="getProjectInfoTabs()"></evt-tabs-container>
                <!--<evt-tabs-container ng-if="getSecondaryContentOpened() === 'globalInfo'"
                                    data-type="projectInfo"
                                    data-orientation="vertical">
                </evt-tabs-container>-->
            </evt-dialog>
        </ng-template>
        <ng-template ngSwitchCase="witnessesList">
            <evt-dialog [type]="'witnessesList'" [title]="'DIALOGS.WITNESSES'" (close)="closeSecondaryContent()">
                Witnesses List...
                <!--<div compile="getWitnessesListFormatted()"></div>-->
            </evt-dialog>
        </ng-template>
        <ng-template ngSwitchCase="bookmark">
            <evt-dialog [type]="'bookmark'" [title]="'DIALOGS.BOOKMARK'" (close)="closeSecondaryContent()">
                Get Bookmark...
                <!--<div compile="getBookmark()"></div>-->
            </evt-dialog>
        </ng-template>
        <ng-template ngSwitchDefault></ng-template>
    </div>

</section>

<footer></footer>
