<div class="evt-tabs-container" [ngClass]="getOrientation()" *ngIf="tabs">
    <div class="evt-tabs-container_headers"
         [class.closed]="subContentOpened === ''">
        <span class="evt-tabs-container_header"
              *ngFor="let tab of tabs.indexes"
              (click)="toggleSubContent(tab)"
              [class.active]="subContentOpened === tab">
            <i *ngIf="tabs.contents[tab].icon"
               [ngClass]="getLabelIcon(tab)"
               class="fa evt-tabs-container_header-icon"></i>
            {{ tabs.contents[tab].label }}
        </span>
    </div>
    <div class="evt-tabs-container_panels"
         [class.closed]="subContentOpened === ''">
        <div class="evt-tabs-container_panel"
             *ngFor="let tab of tabs.indexes"
             [class.active]="subContentOpened === tab"
             [class.no-scroll]="tabs.contents[tab].scrollDisabled"
             [innerHTML]="tabs.contents[tab].content"> <!-- TODO: Compile-->
        </div>
    </div>
</div>
