$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome.scss";

// un-prefixed functions
@import "~susy/sass/susy";

// susy-prefixed functions
@import '~susy/sass/susy-prefix';

@import "scss/variables.scss";
@import "scss/functions.scss";
@import "scss/fonts.scss";
@import "scss/mixins.scss";

$susy: (
  'columns': susy-repeat(18),
  'gutters': 0.03,
  'spread': 'narrow',
  'container-spread': 'narrow'
);

body {
    font-family: Junicode, Times, serif;
    background: $base-backgroundImage;
    margin: 0;
    padding: 0;
    min-height: $base-minHeight;
    overflow: hidden;
    position: absolute;
    font-size: $base-fontSize;
    height: 100%;
    width: 100%;
    min-width: 800px;
}