/* *************************** */
/* FONTS */
@font-face {
    font-family: 'Junicode';
    src: url('fonts/Junicode.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Junicode-bold';
    src: url('fonts/Junicode-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Junicode-italic';
    src: url('fonts/Junicode-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
/* == END Fonts */
/* =========================== */

@font-face {
    font-family: 'evt';
    src:    url('fonts/evt.eot?d0cprc');
    src:    url('fonts/evt.eot?d0cprc#iefix') format('embedded-opentype'),
        url('fonts/evt.ttf?d0cprc') format('truetype'),
        url('fonts/evt.woff?d0cprc') format('woff'),
        url('fonts/evt.svg?d0cprc#evt') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'evtbis-icons';
    src:    url('fonts/evtbis-icons.eot?d0cprc');
    src:    url('fonts/evtbis-icons.eot?d0cprc#iefix') format('embedded-opentype'),
        url('fonts/evtbis-icons.ttf?d0cprc') format('truetype'),
        url('fonts/evtbis-icons.woff?d0cprc') format('woff'),
        url('fonts/evtbis-icons.svg?d0cprc#evt') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'evt' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 0;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="iconbis-"], [class*=" iconbis-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'evtbis-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 0;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-evt_add:before {
    content: "\e900";
}
.icon-evt_book:before {
    content: "\e901";
}
.icon-evt_bookmark-alt:before {
    content: "\e902";
}
.icon-evt_bookmark:before {
    content: "\e903";
}
.icon-evt_bookreader:before {
    content: "\e904";
}
.icon-evt_books:before {
    content: "\e905";
}
.icon-evt_close:before {
    content: "\e906";
}
.icon-evt_code:before {
    content: "\e907";
}
.icon-evt_collation:before {
    content: "\e908";
}
.icon-evt_color-legend:before {
    content: "\e909";
}
.icon-evt_color-lens:before {
    content: "\e90a";
}
.icon-evt_colors-fill:before {
    content: "\e90b";
}
.icon-evt_copyright:before {
    content: "\e90c";
}
.icon-evt_drop-down:before {
    content: "\e90d";
}
.icon-evt_drop-up:before {
    content: "\e90e";
}
.icon-evt_filter:before {
    content: "\e90f";
}
.icon-evt_find-in-page:before {
    content: "\e910";
}
.icon-evt_font-size-minu-alt:before {
    content: "\e911";
}
.icon-evt_font-size-minus:before {
    content: "\e912";
}
.icon-evt_font-size-plus-alt:before {
    content: "\e913";
}
.icon-evt_font-size-plus:before {
    content: "\e914";
}
.icon-evt_font-size-reset:before {
    content: "\e915";
}
.icon-evt_fragment:before {
    content: "\e916";
}
.icon-evt_heatmap-alt:before {
    content: "\e917";
}
.icon-evt_heatmap:before {
    content: "\e918";
}
.icon-evt_help-alt:before {
    content: "\e919";
}
.icon-evt_help:before {
    content: "\e91a";
}
.icon-evt_hotspot:before {
    content: "\e91b";
}
.icon-evt_imgtxt:before {
    content: "\e91c";
}
.icon-evt_info-alt-r:before {
    content: "\e91d";
}
.icon-evt_info-alt-sq:before {
    content: "\e91e";
}
.icon-evt_info-alt:before {
    content: "\e91f";
}
.icon-evt_info:before {
    content: "\e920";
}
.icon-evt_link:before {
    content: "\e921";
}
.icon-evt_list-alt:before {
    content: "\e922";
}
.icon-evt_list:before {
    content: "\e923";
}
.icon-evt_mail:before {
    content: "\e924";
}
.icon-evt_menu:before {
    content: "\e925";
}
.icon-evt_more-horiz:before {
    content: "\e926";
}
.icon-evt_more-vert:before {
    content: "\e927";
}
.icon-evt_note:before {
    // content: "\e928";
    content: "\2022";
}
.icon-evt_paragraph:before {
    content: "\e929";
}
.icon-evt_pin-alt-on:before {
    content: "\e92a";
}
.icon-evt_pin-off:before {
    content: "\e92b";
}
.icon-evt_pin-on:before {
    content: "\e92c";
}
.icon-evt_search:before {
    content: "\e92d";
}
.icon-evt_txt:before {
    content: "\e92e";
}
.icon-evt_txttxt:before {
    content: "\e92f";
}
.icon-evt_zoom-fit:before {
    content: "\e930";
}
.icon-evt_zoom-in:before {
    content: "\e931";
}
.icon-evt_zoom-one:before {
    content: "\e932";
}
.icon-evt_zoom-out:before {
    content: "\e933";
}
.icon-evt_zoom:before {
    content: "\e934";
}
.icon-evt_align:before {
    content: "\e935";
}
.icon-evt_bookmark-alt2:before {
    content: "\e936";
}
.icon-evt_bookreader-alt:before {
    content: "\e937";
}
.icon-evt_font-size-minus-alt:before {
    content: "\e938";
}
.icon-evt_font-size-reset-alt:before {
    content: "\e939";
}
.icon-evt_font-size:before {
    content: "\e93a";
}
.icon-evt_thumbnails:before {
    content: "\e93b";
}
.iconbis-evt_srctxt:before {
    content: "\e945";
}
.iconbis-evt_versions:before {
    content: "\e944";
}
.iconbis-evt_quote-left:before {
    content: "\e943";
}
.iconbis-evt_quote-right:before {
    content: "\e941";
}
.iconbis-evt_fork:before {
    content: "\e942";
}
.iconbis-evt_analogue:before{
    content: "\e93f"
}

.fa-rotate-45 {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
