@import "../../../_shared.scss";

$evt-button-background-color: $base-color-light;
$evt-button-color: $base-color-dark;
$evt-button-shadow-color: rgba(0, 0, 0, 0.4);

$evt-button-active-background-color: $base-color-active-background;
$evt-button-active-color: $base-color-active;

.evt-button {
  min-height: 28px;
  min-width: 30px;
  width: auto;

  position: relative;
  display: inline-block;
  overflow: visible;
  left: 0px;

  font-size: 1em;
  text-align: left;

  &.only-icon {
    text-align: center;
  }
  &.only-text {
    padding-right: 10px;
    text-align: center;
  }

  background: $evt-button-background-color;
  color: $evt-button-color;

  box-shadow: 0px 2px 4px $evt-button-shadow-color;
  border-radius: 2px;

  &:hover {
    box-shadow: 1px 2px 3px $evt-button-shadow-color inset;
    text-shadow: none !important;
    cursor: pointer;
  }

  &-active {
    background: $evt-button-active-background-color;
    color: $evt-button-active-color;
  }
  &-disabled {
    opacity: .5;
    cursor: default !important;
    &:hover {
      box-shadow: none !important;
      text-shadow: none !important;
    }
  }

  &-label {
    margin: 0px;
    margin-left: 4px;
    top: 3.5px;
    position: relative;
  }

  &-icon {
    position: relative;
    right: 0px;
    top: 9px;
    font-size: 1.4em;

    &.fa {
      font-size: 1.1em !important;
    }
  }
  &.iconLeft {
    .evt-button-icon {
      top: 8px;
    }

    .evt-button-label {
      margin-left: 0;
      margin-right: 4px;
    }
  }

  &.no-background {
    background: none !important;
    box-shadow: none !important;
    border-radius: 0;
    width: 0px;
    // color: $evt-button-background-color;
    &-label {
      font-variant: small-caps;
      font-size: 80%;
      top: 0;
      // color: $base-color-light;
    }
    &-icon {
      // color: $base-color-light;
      font-size: 1.3em;
      top: 7px;
    }
    &-active, &:hover {
      .icon {
        cursor: pointer;
      }
    }
  }

  &.inverted-color {
    color: $evt-button-background-color;
    background: $evt-button-color;

    &:hover, &:hover > * {
      color: $evt-button-active-background-color;
    }
  }
}

[data-type='removeWit'], [data-type*='remove'], [data-type*='close'] {
  position: absolute;
  right: 6px;

  .evt-button {
    border-radius: 100px;
    height: 22px;
    min-height: 22px;
    min-width: 22px;
    width: 22px;
    font-size: 0.7em;

    &-icon {
      right: 0;
      font-weight: bold;
      top: 8px;
    }
  }
}

//Temp
.smaller {
  .evt-button {
    font-size: 90%;
    top: -2px;
  }
}