<span class="evt-button"
      [title]="title"
      (click)="callback()"
      [class.buttonSwitch-active]="active"
      [class.buttonSwitch-disabled]="disabled"
      [class.only-icon]="!label || label === ''"
      [class.only-text]="!icon || icon === ''"
      [class.iconLeft]="iconPos && iconPos === 'left'"
      [class.inverted-color]="invertedColor"
      [class.no-background]="noBackground">

      <i *ngIf="icon && iconPos && iconPos==='left'"
         class="icon {{ getIcon() }} evt-button-icon"></i>
      <span class="evt-button-label"
          *ngIf="label !== undefined && label !== ''">{{ label | translate:lang }}</span>

      <i *ngIf="icon && iconPos && iconPos==='right'"
         class="icon {{ getIcon() }} evt-button-icon"></i>
</span>